body {
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  max-width: 1600px;
}

* {
  font-family: Arial, Helvetica;
  box-sizing: border-box;
}

h2, h3 {
  color: #222;
}

.name {
  font-size: 30px;
  text-align: center;
}
.adress,.country {
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  margin-top: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.container-main{
  width: 80%;
  border-radius: 10px;
  margin: auto;
  border: 2px solid rgba(148, 168, 184, 0.16);
  box-shadow: 3px 3px 3px rgba(148, 168, 184, 0.16);

}

.image-gallery {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
}

.main-image {
  flex: 2;
}

.main-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail-list img {
  width: 150px;
  height: 117px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.thumbnail-list img:hover {
  transform: scale(1.1);
}

.thumbnail-list img.selected {
  border: 3px solid #754043;
}

.description {
  margin-top: 20px;
  padding: 15px;
  background: rgba(124, 152, 179, 0.55);
  font-size: 20px;
  color: #1a2e35;
  text-align: center;

}

.price-container {
  margin-top: 20px;
  padding: 15px;
  background: #1a2e35;
  text-align: center;
  font-weight: bold;
}

.price {
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 20px;
  background: #fff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
  font-weight: bold;
}

.apartment-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
}

/* (toiletries, amenities, rules) + reservation form */
.apartment-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-column {
  max-height: 500px;
  background: #ffffff;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 18px;
  padding: 8px;
  background: rgba(230, 230, 230, 0.58);
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.reviews-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.reviews-column {
  background: #ffffff;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}

.reviews-column h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.review {
  padding: 10px;
  background: rgba(124, 152, 179, 0.13);
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.review p {
  margin: 5px 0;
}

.review-date {
  font-size: 14px;
  color: #888;
}

.reservation-column {
  max-height: 500px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leave-review{
  float: right;
}
button.review-btn {
  font-size: 16px;
  font-weight: bold;
  background: rgb(31, 56, 80);
  color: #ffffff;
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button.review-btn:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

button.review-btn:hover:not(:disabled) {
  transform: scale(1.05);
}
